# 전세계 스타벅스 위치

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font',family='Malgun Gothic')

In [4]:
data = pd.read_csv("C:/Users/joyh1/Desktop/GitRepo/data/starbucks_worldwide.csv")

In [5]:
data.shape

(25600, 13)

In [6]:
data.describe()

          Longitude      Latitude
count  25599.000000  25599.000000
mean     -27.872234     34.793016
std       96.844046     13.342332
min     -159.460000    -46.410000
25%     -104.665000     31.240000
50%      -79.350000     36.750000
75%      100.630000     41.570000
max      176.920000     64.850000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25600 entries, 0 to 25599
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           25600 non-null  object
 1   Store Number    25600 non-null  object
 2   Store Name      25600 non-null  object
 3   Ownership Type  25600 non-null  object
 4   Street Address  25598 non-null  object
 5   City            25585 non-null  object
 6   State/Province  25600 non-null  object
 7   Country         25600 non-null  object
 8   Postcode        24078 non-null  object
 9   Phone Number    18739 non-null  object
 10  Timezone        25600 non-null  object
 11  Longitude       25599 non-null  float64
 12  Latitude        25599 non-null  float64
dtypes: float64(2), object(11)
memory usage: 2.5+ MB

In [8]:
data.isnull().sum()

Brand                0
Store Number         0
Store Name           0
Ownership Type       0
Street Address       2
City                15
State/Province       0
Country              0
Postcode          1522
Phone Number      6861
Timezone             0
Longitude            1
Latitude             1
dtype: int64

In [9]:
data.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [24]:
#필요하지 않은 칼럼 postcode, phoneNumber 제거

df = data.drop(['Postcode', 'Phone Number', 'Store Number', 'Store Name'], axis=1)
df.head()

,Brand,Ownership Type,Street Address,City,State/Province,Country,Timezone,Longitude,Latitude
0,Starbucks,Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,GMT+04:00 Asia/Dubai,54.54,24.51

In [25]:
# State/Province, Country 칼럼 값은 City와 Timezone 칼럼 값으로 알 수 있으므로 두개의 칼럼도 삭제
df = df.drop(['State/Province', 'Country'], axis=1)
df.head()

,Brand,Ownership Type,Street Address,City,Timezone,Longitude,Latitude
0,Starbucks,Licensed,"Av. Meritxell, 96",Andorra la Vella,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,Licensed,"1 Street 69, Al Jarf",Ajman,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,Licensed,Al Salam Street,Abu Dhabi,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,GMT+04:00 Asia/Dubai,54.54,24.51

In [26]:
df['Brand'].unique()    # 'Teavana', 'Evolution Fresh', 'Coffee House Holdings' : 스타벅스의 자회사들

array(['Starbucks', 'Teavana', 'Evolution Fresh', 'Coffee House Holdings'],
      dtype=object)

In [27]:
# Timezone 칼럼의 value에서 나라/도시에 대한 정보 이외의 필요없는 시간 정보 삭제

df['Timezone'] = df['Timezone'].str.split("00", expand=True)[1]

In [31]:
df['Timezone'] = df['Timezone'].str.replace(" ","")

In [32]:
df['Timezone'].unique()

array(['Europe/Andorra', 'Asia/Dubai', 'Asia/Muscat',
       'America/Argentina/Bu', 'Europe/Vienna', 'Australia/Sydney',
       'Australia/Brisbane', 'Australia/Melbourne', 'America/Oranjestad',
       'Asia/Baku', 'Europe/Brussels', 'Europe/Sofia', '',
       'Asia/Kuala_Lumpur', 'America/Sao_Paulo', 'America/Nassau',
       'America/Edmonton', 'America/Vancouver', 'America/Winnipeg',
       'America/Moncton', None, 'America/Halifax', 'America/Toronto',
       'America/Rainy_River', 'America/New_York', 'America/Montreal',
       'America/Regina', 'Europe/Zurich', 'Europe/Berlin', 'Europe/Paris',
       'America/Santiago', 'Asia/Beijing', 'Asia/Macau',
       'America/Willemstad', 'Asia/Nicosia', 'Europe/Prague',
       'Europe/Copenhagen', 'Africa/Cairo', 'Europe/Madrid',
       'Atlantic/Canary', 'Europe/Helsinki', 'Europe/London',
       'Europe/Athens', 'Europe/Budapest', 'Asia/Jakarta',
       'Europe/Dublin', 'Asia/Gaza', 'Asia/Tokyo', 'Asia/Seoul',
       'Asia/Beirut', 'Asia/Jerusalem', 'Europe/Luxembourg',
       'Europe/Monaco', 'America/Mexico_City', 'America/Tijuana',
       'America/Hermosillo', 'America/Chihuahua', 'Europe/Amsterdam',
       'Europe/Oslo', 'Pacific/Auckland', 'America/Lima', 'Asia/Manila',
       'Europe/Warsaw', 'America/Puerto_Rico', 'Europe/Lisbon',
       'Asia/Qatar', 'Europe/Bucharest', 'Europe/Moscow', 'Europe/Samara',
       'Asia/Yekaterinburg', 'Asia/Riyadh', 'Europe/Stockholm',
       'Asia/Bangkok', 'Asia/Istanbul', 'Europe/Istanbul', 'Asia/Taipei',
       'America/Anchorage', 'America/Chicago', 'America/Denver',
       'America/Los_Angeles', 'Pacific/Honolulu', 'America/Indianapolis'],
      dtype=object)

In [40]:
# Timezone이 None 값인 것을 대체해주기 위해 None값이 있는 행들만 출력

In [38]:
none_timezone = df.loc[(df['Timezone'].isnull()) & (df['City'] != None)]

In [39]:
none_timezone.head()

,Brand,Ownership Type,Street Address,City,Timezone,Longitude,Latitude,국가
1234,Starbucks,Licensed,"70 Kenmount Rd, Avalon Mall",St Johns,None,-52.76,47.56,
1235,Starbucks,Company Owned,48 Kenmount Road,St. John's,None,-52.75,47.56,
1236,Starbucks,Company Owned,"2 Stavanger Drive, Topsail Road & Burgeo Street",St. John's,None,-52.72,47.61,
1237,Starbucks,Company Owned,670 Topsail Road,St. John's,None,-52.77,47.52,
1238,Starbucks,Company Owned,12 Hebron Way,St. John's,None,-52.72,47.62,

In [41]:
none_timezone['City'].unique()

array(['St Johns', "St. John's", 'Hyderabad', 'Delhi', 'Gurgaon',
       'New Delhi', 'Bangalore', 'Mumbai', 'Navi Mumbai', 'Pune',
       'Chennai', 'Noida'], dtype=object)

In [47]:
none_timezone.loc[none_timezone['City'] == 'Noida']

,Brand,Ownership Type,Street Address,City,Timezone,Longitude,Latitude,국가
6721,Starbucks,Joint Venture,"Ground Floor, Gardens Galleria, Sector 16",Noida,None,77.33,28.57,

In [ ]:
'''
- St Johns , St. John's : Canada/St Johns 로 Timezone값 통일
- Hyderabad : India/Hyderabad
- Delhi : India/Delhi
- Gurgaon : India/Gurgaon
- New Delhi : India/Delhi
- Bangalore : India/Bangalore
- Mumbai : India/Mumbai
- NaviMumbai : India/NaviMumbai
- Pune : India/Pune
- Chennai : India/Chennai
- Noida : India/Noida
'''

# City 칼럼에 기반해 Street Address를 구글 지도에 검색후 Timezone에 들어갈 값 설정 -> None값들 모두 인도임!

In [50]:
df.loc[df['City'].str.contains("Hyberabad|Delhi|Gurgaon|New Delhi|Bangalore|Mumbai|NaviMumbai|Pune|Chennai|Noida"), 'Timezone'] = 'India/India'

ValueError: cannot mask with array containing NA / NaN values

In [ ]:
# Timezone 칼럼을 나라, 지역 이름 칼럼으로 쪼개기
df['국가'] = ''

In [35]:
df['국가'] = df.loc[df['Timezone'].str.split("/", expand=True)[0], '국가']

ValueError: cannot mask with array containing NA / NaN values