# Disaster Tweet Classification

## Load data

In [27]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/younghun/Desktop/gitrepo/data/nlp-getting-started/')

In [28]:
tweet = pd.read_csv('train.csv', encoding='utf-8')
print(tweet.shape)
tweet.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [29]:
# missing values
tweet.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [30]:
# keyword 종류 보기
tweet['keyword'].unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [31]:
# location 종류 보기
print(tweet['location'].nunique())
tweet['location'].unique()[:10]

3341

array([nan, 'Birmingham', 'Est. September 2012 - Bristol', 'AFRICA',
       'Philadelphia, PA', 'London, UK', 'Pretoria', 'World Wide!!',
       'Paranaque City', 'Live On Webcam'], dtype=object)

- keyword 결측치는 61개라서 대체할 값을 찾든가 하자.
- location은 결측치가 너무 많을 뿐더러 disaster tweet인지 아닌지 예측하는 데에 영향이 별로 크지 않을 것 같아서 삭제하기로 하자.

In [32]:
del tweet['location']

## Replace missing values of 'keyword' with a appropriate value

In [33]:
# keyword의 클래스별 count 보기
tweet['keyword'].value_counts()[:50]

fatalities     45
deluge         42
armageddon     42
sinking        41
harm           41
damage         41
body%20bags    41
outbreak       40
twister        40
fear           40
collided       40
windstorm      40
evacuate       40
siren          40
famine         39
sunk           39
whirlwind      39
flames         39
wrecked        39
wreckage       39
sinkhole       39
collision      39
weapons        39
weapon         39
explosion      39
earthquake     39
hellfire       39
derailment     39
explode        38
injury         38
thunder        38
ambulance      38
hurricane      38
blaze          38
upheaval       38
flooding       38
oil%20spill    38
fire           38
typhoon        38
derailed       38
fatal          38
drowned        38
bombed         38
deaths         38
wreck          37
wounded        37
fatality       37
bioterror      37
mudslide       37
blizzard       37
Name: keyword, dtype: int64

- fatalities : 죽음
- deluge : 대홍수
- armageddon : 대결전
- damage : 피해
- ... => 모두 부정적인 어감의 단어들인 듯 하다

- **``pd.Series에 정규표현식 사용해서 문자열 처리하는 방법!``**

    - replace(to_replace=정규표현식)
    - str.replace에 정규표현식도 이용가능

In [34]:
# 우선 keyword의 결측치가 아닌값의 문자열 중에서 숫자, 특수문자를 모두 공백으로 대체하자.
tweet['keyword'] = tweet['keyword'].replace(to_replace='[^a-zA-Z]', value='',
                        regex=True)

In [35]:
# text에 있는 특수문, 숫자들 공백으로 바꾸어주기
tweet['text'] = tweet['text'].str.replace('[^a-zA-Z]', ' ')

In [36]:
# keyword가 결측치인 데이터들만 추출해보기
keyword_null = tweet[tweet['keyword'].isnull()]
keyword_null = keyword_null.reset_index(drop=True)
keyword_null.head()

   id keyword                                               text  target
0   1     NaN  Our Deeds are the Reason of this  earthquake M...       1
1   4     NaN             Forest fire near La Ronge Sask  Canada       1
2   5     NaN  All residents asked to  shelter in place  are ...       1
3   6     NaN         people receive  wildfires evacuation or...       1
4   7     NaN  Just got sent this photo from Ruby  Alaska as ...       1

- keyword가 결측치인 데이터가 61개밖에 되지 않기 때문에 각 데이터의 text를 보고 keyword 사람이 직접 추출하자.

In [37]:
# 반복문 돌려서 id - text mapping시켜서 추출
for idx, text in enumerate(range(len(keyword_null))):
    id = keyword_null.loc[idx, 'id']
    text = keyword_null.loc[idx, 'text']
    print(f"#index number : {idx}, Tweet id : {id}")
    print(f"Content :\n{text}")
    print('-'*80)

#index number : 0, Tweet id : 1
Content :
Our Deeds are the Reason of this  earthquake May ALLAH Forgive us all
--------------------------------------------------------------------------------
#index number : 1, Tweet id : 4
Content :
Forest fire near La Ronge Sask  Canada
--------------------------------------------------------------------------------
#index number : 2, Tweet id : 5
Content :
All residents asked to  shelter in place  are being notified by officers  No other evacuation or shelter in place orders are expected
--------------------------------------------------------------------------------
#index number : 3, Tweet id : 6
Content :
       people receive  wildfires evacuation orders in California
--------------------------------------------------------------------------------
#index number : 4, Tweet id : 7
Content :
Just got sent this photo from Ruby  Alaska as smoke from  wildfires pours into a school
--------------------------------------------------------------------------------
#index number : 5, Tweet id : 8
Content :
 RockyFire Update    California Hwy     closed in both directions due to Lake County fire    CAfire  wildfires
--------------------------------------------------------------------------------
#index number : 6, Tweet id : 10
Content :
 flood  disaster Heavy rain causes flash flooding of streets in Manitou  Colorado Springs areas
--------------------------------------------------------------------------------
#index number : 7, Tweet id : 13
Content :
I m on top of the hill and I can see a fire in the woods
--------------------------------------------------------------------------------
#index number : 8, Tweet id : 14
Content :
There s an emergency evacuation happening now in the building across the street
--------------------------------------------------------------------------------
#index number : 9, Tweet id : 15
Content :
I m afraid that the tornado is coming to our area
--------------------------------------------------------------------------------
#index number : 10, Tweet id : 16
Content :
Three people died from the heat wave so far
--------------------------------------------------------------------------------
#index number : 11, Tweet id : 17
Content :
Haha South Tampa is getting flooded hah  WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK  flooding
--------------------------------------------------------------------------------
#index number : 12, Tweet id : 18
Content :
 raining  flooding  Florida  TampaBay  Tampa    or    days  I ve lost count
--------------------------------------------------------------------------------
#index number : 13, Tweet id : 19
Content :
 Flood in Bago Myanmar  We arrived Bago
--------------------------------------------------------------------------------
#index number : 14, Tweet id : 20
Content :
Damage to school bus on    in multi car crash  BREAKING
--------------------------------------------------------------------------------
#index number : 15, Tweet id : 23
Content :
What s up man
--------------------------------------------------------------------------------
#index number : 16, Tweet id : 24
Content :
I love fruits
--------------------------------------------------------------------------------
#index number : 17, Tweet id : 25
Content :
Summer is lovely
--------------------------------------------------------------------------------
#index number : 18, Tweet id : 26
Content :
My car is so fast
--------------------------------------------------------------------------------
#index number : 19, Tweet id : 28
Content :
What a goooooooaaaaaal
--------------------------------------------------------------------------------
#index number : 20, Tweet id : 31
Content :
this is ridiculous
--------------------------------------------------------------------------------
#index number : 21, Tweet id : 32
Content :
London is cool
--------------------------------------------------------------------------------
#index number : 22, Tweet id : 33
Content :
Love skiing
--------------------------------------------------------------------------------
#index number : 23, Tweet id : 34
Content :
What a wonderful day
--------------------------------------------------------------------------------
#index number : 24, Tweet id : 36
Content :
LOOOOOOL
--------------------------------------------------------------------------------
#index number : 25, Tweet id : 37
Content :
No way   I can t eat that shit
--------------------------------------------------------------------------------
#index number : 26, Tweet id : 38
Content :
Was in NYC last week
--------------------------------------------------------------------------------
#index number : 27, Tweet id : 39
Content :
Love my girlfriend
--------------------------------------------------------------------------------
#index number : 28, Tweet id : 40
Content :
Cooool
--------------------------------------------------------------------------------
#index number : 29, Tweet id : 41
Content :
Do you like pasta
--------------------------------------------------------------------------------
#index number : 30, Tweet id : 44
Content :
The end
--------------------------------------------------------------------------------
#index number : 31, Tweet id : 10835
Content :
Pic of   yr old PKK suicide bomber who detonated bomb in Turkey Army trench released http   t co aaWZXykLES http   t co RsMvgDxRiv
--------------------------------------------------------------------------------
#index number : 32, Tweet id : 10837
Content :
These boxes are ready to explode  Exploding Kittens finally arrived  gameofkittens  explodingkittens    https   t co TFGrAyuDC
--------------------------------------------------------------------------------
#index number : 33, Tweet id : 10839
Content :
Calgary Police Flood Road Closures in Calgary  http   t co RLN  WKe g
--------------------------------------------------------------------------------
#index number : 34, Tweet id : 10840
Content :
 Sismo DETECTADO  Jap  n          Seismic intensity   Iwate Miyagi JST     http   t co gMoUl zQ Q
--------------------------------------------------------------------------------
#index number : 35, Tweet id : 10841
Content :
Sirens everywhere
--------------------------------------------------------------------------------
#index number : 36, Tweet id : 10842
Content :
BREAKING   ISIS claims responsibility for mosque attack in Saudi Arabia that killed    http   t co VZ   XOSwj http   t co m HpnOAK b
--------------------------------------------------------------------------------
#index number : 37, Tweet id : 10843
Content :
Omg earthquake
--------------------------------------------------------------------------------
#index number : 38, Tweet id : 10844
Content :
SEVERE WEATHER BULLETIN No    FOR  TYPHOON     HannaPH     SOUDELOR  TROPICAL CYCLONE  WARNING ISSUED AT      PM       http   t co tHhjJw  PE
--------------------------------------------------------------------------------
#index number : 39, Tweet id : 10846
Content :
Heat wave warning aa  Ayyo dei  Just when I plan to visit friends after a year
--------------------------------------------------------------------------------
#index number : 40, Tweet id : 10847
Content :
An IS group suicide bomber detonated an explosives packed vest in a mosque inside a Saudi special forces headquarters killing    people
--------------------------------------------------------------------------------
#index number : 41, Tweet id : 10848
Content :
I just heard a really loud bang and everyone is asleep great
--------------------------------------------------------------------------------
#index number : 42, Tweet id : 10849
Content :
A gas thing just exploded and I heard screams and now the whole street smells of gas
--------------------------------------------------------------------------------
#index number : 43, Tweet id : 10850
Content :
NWS  Flash Flood Warning Continued for Shelby County until       PM Wednesday  http   t co nZ ACKRrJi  tnwx
--------------------------------------------------------------------------------
#index number : 44, Tweet id : 10851
Content :
RT  LivingSafely   NWS issues Severe  Thunderstorm Warnings for parts of  AR  NC  OK  Expect more trauma cases  http   t co FWqfCKNCQW
--------------------------------------------------------------------------------
#index number : 45, Tweet id : 10852
Content :
                   MH     Aircraft debris found on La Reunion is from missing Malaysia Airlines     http   t co  B qT YxdA
--------------------------------------------------------------------------------
#index number : 46, Tweet id : 10853
Content :
Father of three Lost Control of Car After Overtaking and Collided  BathAndNorthEastSomerset http   t co fa FcnlN
--------------------------------------------------------------------------------
#index number : 47, Tweet id : 10854
Content :
     Earthquake in  Km Ssw Of Anza California  iPhone users download the Earthquake app for more information http   t co V aZWOAmzK
--------------------------------------------------------------------------------
#index number : 48, Tweet id : 10855
Content :
Evacuation order lifted for town of Roosevelt  http   t co EDyfo E PU http   t co M KxLPKFA
--------------------------------------------------------------------------------
#index number : 49, Tweet id : 10859
Content :
 breaking  LA Refugio oil spill may have been costlier bigger than projected http   t co  ueCmcv Pk
--------------------------------------------------------------------------------
#index number : 50, Tweet id : 10860
Content :
a siren just went off and it wasn t the Forney tornado warning
--------------------------------------------------------------------------------
#index number : 51, Tweet id : 10862
Content :
Officials say a quarantine is in place at an Alabama home over a possible Ebola case after developing symptoms    http   t co rqKK  uhEY
--------------------------------------------------------------------------------
#index number : 52, Tweet id : 10863
Content :
 WorldNews Fallen powerlines on G link tram  UPDATE  FIRE crews have evacuated up to    passengers who were tr    http   t co EYSVvzA Qm
--------------------------------------------------------------------------------
#index number : 53, Tweet id : 10864
Content :
on the flip side I m at Walmart and there is a bomb and everyone had to evacuate so stay tuned if I blow up or not
--------------------------------------------------------------------------------
#index number : 54, Tweet id : 10866
Content :
Suicide bomber kills    in Saudi security site mosque   Reuters via World   Google News   Wall     http   t co nF IculOje
--------------------------------------------------------------------------------
#index number : 55, Tweet id : 10867
Content :
 stormchase Violent Record Breaking EF   El Reno Oklahoma Tornado Nearly Runs Over       http   t co  SICroAaNz http   t co I  Oa HISp
--------------------------------------------------------------------------------
#index number : 56, Tweet id : 10869
Content :
Two giant cranes holding a bridge collapse into nearby homes http   t co STfMbbZFB
--------------------------------------------------------------------------------
#index number : 57, Tweet id : 10870
Content :
 aria ahrary  TheTawniest The out of control wild fires in California even in the Northern part of the state  Very troubling
--------------------------------------------------------------------------------
#index number : 58, Tweet id : 10871
Content :
M            UTC   km S of Volcano Hawaii  http   t co zDtoyd EbJ
--------------------------------------------------------------------------------
#index number : 59, Tweet id : 10872
Content :
Police investigating after an e bike collided with a car in Little Portugal  E bike rider suffered serious non life threatening injuries
--------------------------------------------------------------------------------
#index number : 60, Tweet id : 10873
Content :
The Latest  More Homes Razed by Northern California Wildfire   ABC News http   t co YmY rSkQ d
--------------------------------------------------------------------------------

In [38]:
keyword_dict = {
    1:'earthquake',4:'fire',5:'shelter evacuation',6:'wildfires evacuation',7:'wildfires',8:'wildfires',
    10:'flood disaster',13:'fire',14:'emergency evacuation',15:'tornado',16:'die heat wave',17:'flood',
    18:'flood',19:'flood',20:'damage crash',23:'man',24:'love',25:'lovely',26:'fast',28:'goal',31:'ridiculous',
    32:'cool',33:'love', 34:'wonderful',36:'funny', 37:'shit', 38:'location', 39:'love', 40:'cool', 41:'like',
    44:'end', 10835:'bomb', 10837:'eplode', 10839:'flood', 10840:'seismic earthquake', 10841:'siren',
    10842:'attack kill', 10843:'earthquake',10844:'typhoon', 10846:'heat wave warning', 10847:'bomber',
    10848:'loud', 10849:'explode', 10850:'flood', 10851:'thunderstorm', 10852:'debris', 10853:'collide',
    10854:'earthquake', 10855:'evacuation',10859:'break', 10860:'siren tornado warning', 10862:'quarantine',
    10863:'fire',10864:'bomb',10866:'suicide bomb', 10867:'storm', 10869:'collapse', 10870:'fire', 10871:'volcano',
    10872:'injury', 10873:'wildfire'
}

In [39]:
for index, id in enumerate(tweet['id']):
    if tweet.loc[index, 'id'] in keyword_dict.keys():
        tweet.loc[index, 'keyword'] = keyword_dict[id]

In [40]:
# keyword랑 text 합쳐주어서 텍스트로 만들기
tweet['text'] = tweet['keyword'] + ' ' + tweet['text']
del tweet['keyword']
tweet.head()

   id                                               text  target
0   1  earthquake Our Deeds are the Reason of this  e...       1
1   4        fire Forest fire near La Ronge Sask  Canada       1
2   5  shelter evacuation All residents asked to  she...       1
3   6  wildfires evacuation        people receive  wi...       1
4   7  wildfires Just got sent this photo from Ruby  ...       1

In [41]:
# id 변수도 이제 필요없으니 삭제
del tweet['id']

In [42]:
# CountVecotrizer or Tf-idf Vectorizer로 텍스트 벡터 피처화시키기

                                                   text  target
0     earthquake Our Deeds are the Reason of this  e...       1
1           fire Forest fire near La Ronge Sask  Canada       1
2     shelter evacuation All residents asked to  she...       1
3     wildfires evacuation        people receive  wi...       1
4     wildfires Just got sent this photo from Ruby  ...       1
...                                                 ...     ...
7608  collapse Two giant cranes holding a bridge col...       1
7609  fire  aria ahrary  TheTawniest The out of cont...       1
7610  volcano M            UTC   km S of Volcano Haw...       1
7611  injury Police investigating after an e bike co...       1
7612  wildfire The Latest  More Homes Razed by North...       1

[7613 rows x 2 columns]