# Dacon Covid 데이터 분석 3주차

## kaggle에 존재하는 외부 데이터 사용해 분석

- 한국뿐만 아니라 세계국가 데이터 존재
- 필요시 한국 데이터만 추출해 사용
- 한국과 다른 나라들간의 상황 비교분석

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("C:/Users/joyh1/Desktop/GitRepo/data/covid-19-all.csv")

In [5]:
# 데이터 행,열 개수 확인
data.shape

(74352, 8)

In [7]:
# 데이터 타입 구성 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74352 entries, 0 to 74351
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  74352 non-null  object
 1   Province/State  67247 non-null  object
 2   Latitude        74351 non-null  float64
 3   Longitude       74351 non-null  float64
 4   Confirmed       74333 non-null  float64
 5   Recovered       73964 non-null  float64
 6   Deaths          73911 non-null  float64
 7   Date            74352 non-null  object
dtypes: float64(5), object(3)
memory usage: 4.5+ MB

In [8]:
# 데이터 결측치 확인
data.isnull().sum()

Country/Region       0
Province/State    7105
Latitude             1
Longitude            1
Confirmed           19
Recovered          388
Deaths             441
Date                 0
dtype: int64

In [14]:
# 데이터 기술통계량 보기(위도, 경도 제외)
data[['Confirmed','Recovered','Deaths']].describe()

# 3분위수와 최댓값 격차가 매우 큰걸 보면 코로나 확산이 급작스럽게 증가했지 않을까 추론해본다.

           Confirmed     Recovered        Deaths
count   74333.000000  73964.000000  73911.000000
mean      367.382508     90.369126     18.834720
std      4334.365424   1725.061550    365.755142
min         0.000000      0.000000      0.000000
25%         1.000000      0.000000      0.000000
50%         4.000000      0.000000      0.000000
75%        28.000000      0.000000      1.000000
max    166831.000000  64281.000000  19899.000000

In [12]:
# 객체 타입의 기술통계량 보기
data.describe(include=object)

       Country/Region Province/State        Date
count           74352          67247       74352
unique            212            298          82
top                US          Texas  2020-03-30
freq            62707           4381        3439

In [16]:
# 국가별로 얼마나 데이터가 존재하는지 관찰
data['Country/Region'].value_counts()

US                     62707
China                   2606
Canada                   562
Australia                492
France                   345
                       ...
Saint Martin               1
North Ireland              1
Cape Verde                 1
St. Martin                 1
Taipei and environs        1
Name: Country/Region, Length: 212, dtype: int64

In [17]:
# 한국이 있는지 조회해 보기
data['Country/Region'].unique()

# 두번째 줄에 'South Korea' 존재

array(['China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan', 'Thailand',
       'South Korea', 'Singapore', 'Philippines', 'Malaysia', 'Vietnam',
       'Australia', 'Mexico', 'Brazil', 'Colombia', 'France', 'Nepal',
       'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast', 'Germany',
       'Finland', 'United Arab Emirates', 'India', 'Italy',
       'United Kingdom', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others',
       'Egypt', 'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman',
       'Afghanistan', 'Bahrain', 'Kuwait', 'Austria', 'Algeria',
       'Croatia', 'Switzerland', 'Pakistan', 'Georgia', 'Greece',
       'North Macedonia', 'Norway', 'Romania', 'Denmark', 'Estonia',
       'Netherlands', 'San Marino', 'Azerbaijan', 'Belarus', 'Iceland',
       'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland', 'Ireland',
       'Luxembourg', 'Monaco', 'Qatar', 'Ecuador', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'West Bank and Gaza', 'Bosnia and Herzegovina',
       'Slovenia', 'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica',
       'Peru', 'Serbia', 'Slovakia', 'Togo', 'Vatican City',
       'French Guiana', 'Malta', 'Martinique', 'Bulgaria', 'Maldives',
       'Bangladesh', 'Moldova', 'Paraguay', 'Albania', 'Cyprus',
       'St. Martin', 'Brunei', 'Taipei and environs', 'Saint Martin',
       'Burkina Faso', 'Channel Islands', 'Mongolia', 'Panama',
       'Cruise Ship', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Somalia', 'Tanzania',
       'The Bahamas', 'Barbados', 'Montenegro', 'Gambia', 'Kyrgyzstan',
       'Mauritius', 'Zambia', 'Djibouti', 'Bahamas, The', 'Chad',
       'El Salvador', 'Fiji', 'Nicaragua', 'Madagascar', 'Haiti',
       'Angola', 'Cabo Verde', 'Papua New Guinea', 'Zimbabwe',
       'Cape Verde', 'East Timor', 'Eritrea', 'Uganda', 'Bahamas',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Burma', 'MS Zaandam', 'Botswana',
       'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen'], dtype=object)

In [19]:
# South Korea에 대한 데이터 얼마나 존재하는지 보기
data[data['Country/Region'] == 'South Korea']

# 82개만 존재

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date
37,South Korea,NaN,36.000000,128.000000,1.0,NaN,NaN,2020-01-22
75,South Korea,NaN,36.000000,128.000000,1.0,NaN,NaN,2020-01-23
121,South Korea,NaN,36.000000,128.000000,2.0,NaN,NaN,2020-01-24
162,South Korea,NaN,36.000000,128.000000,2.0,NaN,NaN,2020-01-25
208,South Korea,NaN,36.000000,128.000000,3.0,NaN,NaN,2020-01-26
...,...,...,...,...,...,...,...,...
62451,South Korea,NaN,35.907757,127.766922,10384.0,6776.0,200.0,2020-04-08
65362,South Korea,NaN,35.907757,127.766922,10423.0,6973.0,204.0,2020-04-09
68302,South Korea,NaN,35.907757,127.766922,10450.0,7117.0,208.0,2020-04-10
71268,South Korea,NaN,35.907757,127.766922,10480.0,7243.0,211.0,2020-04-11
74257,South Korea,NaN,35.907757,127.766922,10512.0,7368.0,214.0,2020-04-12

In [ ]:
# 분석 주제는 세계적인 비교로 가자!